spring:
  datasource:
    url: jdbc:mysql://localhost:3306/DonorOperator
    username: Ameena
    password: Ameena
  application:
    name: DonorOperator
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
