<div class="container">
    <h1>Customer Acquisition Form</h1>
    <form (ngSubmit)="processCAF()">
      <div class="form-group">
        <label for="mobileNumberInput">Mobile Number:</label>
        <input type="text" id="mobileNumberInput" class="form-control" [(ngModel)]="this.form.mobileNumber" name="mobileNumber">
      </div>
      <div class="form-group">
        <label for="upcInput">UPC:</label>
        <input type="text" id="upcInput" class="form-control" [(ngModel)]="this.form.upc" name="UPC">
      </div>
      <button type="submit" class="btn btn-primary">Submit CAF</button>
    </form>
    <div *ngIf="successMessage">
      <p>Success: {{ successMessage }}</p>
    </div>
  </div>
  
