server:
  port: 8071
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        - id: DonorOperator
          uri: lb://DonorOperator
          predicates:
            - Path=/subscriber/**

        - id: DonorOperator
          uri: lb://DonorOperator
          predicates:
            - Path=/operator/**
          filters:
            - AuthenticationFilter

        - id: RecipientOperator
          uri: lb://RecipientOperator
          predicates:
            - Path=/request/**
          filters:
            - AuthenticationFilter

        - id: MNPSP
          uri: lb://MNPSP
          predicates:
            - Path=/mnpsp/**
          filters:
            - AuthenticationFilter

      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - "http://localhost:4200"
              - "http://localhost:4200/login"
              - "http://localhost:65170"
              - "http://localhost:65170/login"

            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600

eureka:
  instance:
    hostname: localhost
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 20
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
