/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.header-content {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNxfxBHzed1IGjDpoKo7iCtg3BBEiQCj9x9A&usqp=CAU') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

/* Add more styles to make your page look realistic */
