<title>Telecom Operator</title>

<body>
  <header>
    <div class="header-content">
      <h1>Welcome to Our Telecom Services</h1>
      <p>Your Connection to the World</p>
    </div>
  </header>
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/forward">Forward Request</a></li>
      <li><a routerLink="/status">Porting Status</a></li>
      <li><a routerLink="/mnpsp">MNPSP</a></li>
      <li><a routerLink="/activate">Activate</a></li>
    </ul>
  </nav>
</body>

<router-outlet></router-outlet>
