
    <title>Telecom Operator</title>

<body>
    <header>
        <div class="header-content">
            <h1>Welcome to Our Telecom Services</h1>
            <p>Your Connection to the World</p>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Port</a></li>
            <li><a href="#">Validate</a></li>
        </ul>
    </nav>
    <section class="main-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies justo ut risus volutpat, id eleifend tortor tristique.</p>
        <!-- Add more content, images, and features as needed -->
        
    </section>
</body>



<app-port-in></app-port-in>
<app-mnpsp></app-mnpsp>